:root {
    --bg-1:#1b2a4b;
        --bg-1-light: #1f3055;
    --bg-2:#0f1a31;
    --primary: #49a1ff;
    --primary-dark: #4194ec;
    --font: white;
    --tretraty: #465689;
    --accent: #465689;
    --dbtn-color: #7289DA;
}