<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wezacon</title>
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/waves.css">
  <link rel="stylesheet" href="/css/foot.css">
  <link rel="shortcut icon" href="https://github.com/wezacon/dbos/blob/main/public/img/Wezacon-icon.png?raw=true" type="image/x-icon">
  <meta name="theme-color" content="var(--primary)">
  <meta name="description" content="Wezacon - The developer of DBOS!">
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="Wezacon">
  <meta name="twitter:description" content="Wezacon - The developer of DBOS!">
  <meta name="twitter:image" content="https://github.com/wezacon/dbos/blob/main/public/img/Wezacon-icon.png?raw=true">
  <meta property="og:title" content="Wezacon">
  <meta property="og:description" content="Wezacon - The developer of DBOS!">
  <meta property="og:image" content="https://github.com/wezacon/dbos/blob/main/public/img/Wezacon-icon.png?raw=true">
</head>
<body>
  <div class="header">
    <div class="inner-header">
      <div class="title">
        <br>
        <br>
        <img class="wzc" src="https://github.com/wezacon/dbos/blob/main/public/img/Wezacon-icon.png?raw=true">
        <h1>Wezacon - contributors</h1>
        <h3>The official Wezacon contributors members who helped on this project</h3>
      </div>
      <div class="center">
            <p>Contributors are users who have helped us grow!</p>
        <br>
        <a class='btn_main dbtn' href="/">
          Back
        </a>
      </div>
    </div>
    <br>
    <br>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="5" fill="var(--bg-2)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="var(--bg-1)" />
            </g>
        </svg>
    </div>
  </div>
  <div class="wcontent flex">
    <br>
    <br>
        <a href="/api/git"><i class="fa fa-github-square"></i></a>
  </div>
  <div class="footer">
    <div id="button"></div>
    <div id="container">
      <div id="cont">
      <div class="footer_center">
        <a href="/wzc/team">
          <h3>© Wezacon.com</h3>
        </a>
      </div>
      </div>
  </div>
  </div>
  </body>
  </html>