<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wezacon</title>
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/waves.css">
  <link rel="stylesheet" href="/css/foot.css">
  <link rel="shortcut icon" href="https://github.com/wezacon/dbos/blob/main/public/img/Wezacon-icon.png?raw=true" type="image/x-icon">
</head>
<body>
  <div class="header">
    <div class="inner-header">
      <div class="title">
        <br>
        <br>
        <img class="wzc" src="https://github.com/wezacon/dbos/blob/main/public/img/Wezacon-icon.png?raw=true">
        <h1>Wezacon - Team</h1>
        <h3>The official Wezacon team members who worked on this project!</h3>
      </div>
      <div class="center">
    
        <h3>Who are we?</h3>
        <p>Wezacon is a software development company that provides you (open source) services that are completely free.</p>
        <p>How can you contact us? Pretty easy, you can open an issue on our github organization or join our <a href="https://dbos.glitch.me/s/join">discord server</a>.</p>
          <br>
        <a class='roundedButton dbtn' href="https://github.com/orgs/wezacon/people">
          View the team!
        </a>
      </div>
    </div>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="5" fill="var(--bg-2)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="var(--bg-1)" />
            </g>
        </svg>
    </div>
  </div>
  <div class="wcontent">
    <br>
    <br>
    <p></p>
  </div>
  <div class="footer">
    <div id="button"></div>
    <div id="container">
      <div id="cont">
      <div class="footer_center">
          <h3>© Wezacon.com</h3>
      </div>
      </div>
  </div>
  </div>
  </body>
  </html>